---
const { post } = Astro.props;
---

<article>
  <h3><a href={`/blog/${post.slug}`}>{post.data.title}</a></h3>
  <p>{post.data.description}</p>
</article>

<style>
  article {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
  }
  h3 {
    margin: 0;
  }
</style>
